Warehouse/.vs/Warehouse/DesignTimeBuild/.dtbcache.v2
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.deps.json
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.dll
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.exe
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.pdb
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.runtimeconfig.dev.json
Warehouse/Warehouse/bin/Debug/netcoreapp3.1/Warehouse.runtimeconfig.json
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.csproj.CoreCompileInputs.cache
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.csproj.FileListAbsolute.txt
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.csprojAssemblyReference.cache
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.dll
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.exe
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.genruntimeconfig.cache
Warehouse/Warehouse/obj/Debug/netcoreapp3.1/Warehouse.pdb
